---
layout: default
---
<article class="c-article">
  <header class="c-header c-article__header">
    <div class="u-container">
      <h1 class="c-header__title"><a href="{{ "/" | prepend: site.baseurl }}"><img src="/media/logo.svg" style="width:65px; background:#fff; margin:-5px; "
                 onerror="this.onerror=null;this.src='/media/logo.png';"
                 alt="Keith Greer" ></a>{% if page.h1 %}
                     {{ page.h1 }}
                 {% else %}
                     {{ page.title }}
                 {% endif %}
      </h1>
    </div>
  </header>
  <div class="c-article__main">
    {{ content }}
  </div>
</article>
